---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen flex flex-col bg-radial from-primario via-secundario to-tercero pt-18"
  >
    <Navbar />

    <!-- Contenido principal, se expande para empujar el footer abajo -->
    <main class="flex-1 pt-24">
      <slot />
    </main>

    <!-- Footer al final -->
    <Footer />
  </body>
  <style is:global>
    @import "tailwindcss/base";
    @import "tailwindcss/components";
    @import "tailwindcss/utilities";
  </style>
</html>
