---
import Card from "./Card.astro";
import type { CardInterface } from "../types/Card.ts";

interface Props {
  cards: CardInterface[];
}

const { cards } = Astro.props as Props;
---

<div class="flex flex-col items-center gap-4">
  <h1 class="text-2xl font-bold">Productos disponibles</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10">
    {cards.map((card, i) => <Card card={card} index={i} />)}
  </div>
</div>
