---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<div>
  <nav
    class="fixed top-0 left-0 right-0 z-50 bg-primario/50 text-white rounded-2xl m-2 shadow-[-4px_4px_6px_rgba(12,30,127,1)] backdrop-blur-sm"
  >
    <div class="container mx-auto flex justify-between items-center py-4 px-4">
      <a href="/" class="text-2xl font-bold">Mi Americano Shop</a>
      <div class="flex items-center m-1 gap-4">
        <a href="/" class="text-white hover:text-blue-500">Inicio</a>
        <a href="/" class="text-white hover:text-blue-500">Contacto</a>
        <SignedOut>
          <SignInButton mode="modal" class="text-white hover:text-blue-500"
            >inisiar sesion</SignInButton
          >
        </SignedOut>
        <SignedIn>
          <UserButton />
        </SignedIn>
      </div>
    </div>
  </nav>
</div>
